@import "../../../theme/sass/conf/conf";

:host /deep/ {

  .ct-area {
    fill-opacity: .5;
  }

  .ct-label {
    color: $default-text;
    opacity: 0.9;
    fill: $default-text;
  }

  .ct-chart .ct-label {
    font-size: 1em;
  }

  .ct-chart svg {
    width: 100%;
    display: block;
  }

  .ct-series-a {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: #336db4;
    }
    .ct-slice-pie, .ct-area {
      fill: #336db4;
    }
  }

  .ct-series-b {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: #70abd5;
    }
    .ct-slice-pie, .ct-area {
      fill: #70abd5;
    }
  }

  .ct-series-c {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: #c6d9ef;
    }
    .ct-slice-pie, .ct-area {
      fill: #c6d9ef;
    }
  }

  .ct-series-d {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $warning;
    }
    .ct-slice-pie, .ct-area {
      fill: $warning;
    }

  }

  .ct-series-e {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $info;
    }
    .ct-slice-pie, .ct-area {
      fill: $info;
    }
  }

  .stacked-bar .ct-bar {
    stroke-width: 30px;
  }

  .ct-chart {
    .ct-legend {
      position: relative;
      z-index: 10;
      list-style: none;
      text-align: center;

      li {
        position: relative;
        padding-left: 23px;
        margin-right: 10px;
        margin-bottom: 3px;
        cursor: pointer;
        display: inline-block;

        &:before {
          width: 12px;
          height: 12px;
          position: absolute;
          left: 0;
          content: '';
          border: 3px solid transparent;
          border-radius: 2px;
        }
        .inactive:before {
          background: transparent;
        }

        &:nth-child(1)::before{
          background-color: #336db4;
        }

        &:nth-child(2)::before{
          background-color: #70abd5;
        }

        &:nth-child(3)::before{
          background-color: #c6d9ef;
        }
        &:nth-child(1n+4)::before{
          background-color: $warning;
        }
      }

      .ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    g:not(.ct-grids):not(.ct-labels) g {
      &:nth-child(1){
        .ct-point,.ct-line {
          stroke: #336db4;
        }
      }
      &:nth-child(2){
        .ct-point,.ct-line {
          stroke: #70abd5;
        }
      }
      &:nth-child(3){
        .ct-point,.ct-line {
          stroke: #c6d9ef;
        }
      }
      &:nth-child(4){
        .ct-point,.ct-line {
          stroke: #0066CC;
        }
      }
      &:nth-child(1n+5){
        .ct-point,.ct-line {
          stroke: #0000CC;
        }
      }
    }
  }

}
